body{
    background-color: #dcdcdc;
}

.loginBackgroundColor{
    background-color: #044537;
    height:100vh
}
.loginBackgroundImage{
    background-image: url('../public/loginBackground.jpeg');
}

.login-div{
    border:2px solid orange;
    border-radius: 40px;
    padding:40px;
    background-color: #ececec;
    box-shadow: 5px 2px 5px #044537;
}
.card-div, .card-div2{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
}

.card-div2:hover{
    background-color: #dcdcdc;
}

.profile-img, .profile-avatar, .profile-comment-avatar{
    margin-top: 5px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: #ccc;
    border-radius: 100%;    
}

.profile-img{
    width: 150px;
    height:150px;
}

.profile-avatar{
    width: 30px; 
    height: 30px;   
}

